AI_PREFILL_PRIMARY_BASE_URL=https://a-ocnfniawgw.cn-shanghai.fcapp.run
AI_PREFILL_PRIMARY_API_KEY=
AI_PREFILL_PRIMARY_MODEL=gpt-5.5

AI_PREFILL_FALLBACK_BASE_URL=https://muyuan.do
AI_PREFILL_FALLBACK_API_KEY=
AI_PREFILL_FALLBACK_MODEL=Image #1
